@font-face {
	font-family: Helvetica, Arial, sans-serif;
    src: url("../fonts/Underdog-Regular.ttf");
}


#bara{
    display: grid;
    color: white;
    grid-template-columns: 75% 25%; 
}

#bara{
    margin-top: -2%;
    margin-right: -2%;
    margin-left: -2%;

}
#bara > *:not(mt-vsiderbar){
    background-color: #051648;
    padding-top: 6%;
    padding-right: 5%;
}
body{
    background-color: #213D8F  ;
    background-size: cover;
}
*{
	font-family: Helvetica, Arial, sans-serif;
    text-overflow: ellipsis;
}
#form-env{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: '. form .';
    row-gap: 2%;
}
#formulario{
    width: 100%;
    background-color: #91785A;
    border-radius: 15px;
    padding: 1%;
    border: #322719 solid 2px;
    grid-area: form;
    
}
.formulario{
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    column-gap: 2%;
    margin: 0;
    
  
}
#libros, #eventos,#juegos{
    background: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
 
    grid-gap: 2%;
    justify-content: center;
    justify-items: center;
    text-align: left;
}

#sub {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: green;
}
#nosub{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: red;
}


    


#libros > div, #eventos > div , #juegos > div{
    
    display: grid;
    grid-template-columns: 1fr;
 
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;

    text-align: center;
    text-justify: center;
    font-size: medium;
}
.formulario>div>div>label{
    
    text-align: center;
}
.formulario>#formulario-1>div{
    column-gap: 2%;
}




#fecha {
    border:solid black 2px;
    width: 10%;
    border-radius: 5px;
    color: white;
    background: rgba(104, 84, 63, 0.5);
}
#botenlace{
    background-color: blue;
  
    text-decoration: none;
    
    border-radius: 15px;
    padding: 2%;
}
#botenlace>a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

input:focus{
    border: none;
}

#inicio{
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

@media (width > 1200px) {
    #libros, #eventos,#juegos{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
    .formulario {
     
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
    
}
.formulario >div>div{
    display: grid;
    grid-template-columns: minmax(25%, 1fr) 1fr;
   
}

.formlog {
    grid-template-columns: 1fr ;
}
#enter{
    justify-self: center;
    grid-column: 1/-1;
    
}
.formlibs{
    grid-template-columns: 1fr;
}
.formulario>div>div{
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
