*{
    justify-content: center;
    justify-items: center;
    margin: 0;
   
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    background-color: rgba(50, 50, 50, 0.5);
    justify-content: left;
    color: white;
    height: 100%;
    align-items: center;
    align-content: center;
    
}
li{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    justify-items: center;
    margin-left: 2%;
}
li:hover{
    
    background-color: rgb(80, 74, 46);
    cursor: pointer;
}
ul a{
    text-decoration: none;
    color: white;
}
.selected{ 

    background-color: rgb(73, 65, 30);
}