body{
    background-color: rgb(0, 0, 255);
}
h1{
    color: white;
}
#login{
    background-color: red;
    border-radius: 25px;
    position: absolute;
    width: 300px;
    height: 400px;
}
#login input,label{
    display: block;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}